*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Shabnam';
    src: url('./font/Shabnam-Light.eot format') format('eot') , url('./font/Shabnam-Light.woff') format('woff') ,
     url('./font/Shabnam-Light.woff2') format('woff2');
}


body{
    direction: rtl;
    background-color: #ffffff;
    font-family: 'Shabnam';
}


.container{
    background-color: #fff;
    display: grid;
    grid-template-rows: 10vh repeat(10 , max-content);
    grid-template-columns: repeat(7 , 1fr);
    grid-row-gap: 10px;
}

.main{
    background-color: rgb(255, 255, 255);
    grid-column: 1/8;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
}

/* هد کار */

.head-container{
    background-color: rgb(255, 255, 255);
    grid-column: 1/7;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
}

.head-org{
    background-color: rgb(255, 255, 255);
    grid-column: 1/7;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    border-bottom: 2px solid rgb(235, 235, 235);
    border-top: 2px solid rgb(253, 183, 19);
   
} 

.link{
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3,1fr);
}

.image-main{
    grid-column: 1/4;
    grid-row: 1/4;  
    background-image: url("./pic/download.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    margin-bottom: 5px
}

.top-menu{
    grid-column: 2/6;
    grid-row: 1/4;
    align-self: center;
    justify-self: center;
    list-style-type: none;
    margin-left: 80px;
}

.link-menu{
    text-decoration: none;
    color: rgb(61, 62, 63);
    font-size: 17px;
    padding: 20px;
}

.sup-menu{
    float: right;
    padding: 5px;
    transition: 0.3s;
}

.sup1,.sup2,.sup3::after{
    content: '';
    border-left: 1px solid rgb(235, 235, 235);
}

.fa-solid{
    padding-right: 2px;
    color: rgb(61, 62, 63);
}

.container-sup{
    position: absolute;
    border:1px solid rgb(235, 235, 235);
    background-color: #fff;
    line-height: 3; 
    padding: 20px;
    border-radius: 15px;
    margin: 18px -30px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.link-abshari{
    text-decoration: none;
    color: #000;
}

.zir-nav{
    list-style-type: none;
}

.zir-nav1{
    list-style-type: none;
}

.zir-nav2{
    list-style-type: none;
}

.abshari{
    border-bottom: 1px solid rgb(235, 235, 235);
}

.container-sup1{
    position: absolute;
    border:1px solid rgb(235, 235, 235);
    background-color: #fff;
    line-height: 3; 
    padding: 20px;
    border-radius: 15px;
    margin: 18px -12px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.container-sup2{
    position: absolute;
    border: 1px solid rgb(235, 235, 235);
    background-color: #fff;
    line-height: 3;
    padding: 15px;
    border-radius: 15px;
    margin: 18px -10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.left-link{
    grid-column: 5/8;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.suport-link{
    text-decoration: none;
    color: rgb(61, 62, 63);
    font-size: 17px;
}

.text1-l{
    grid-column: 1/2;
    grid-row: 1/4;
    justify-self: end;
    align-self: center;
}

.text2-l{
    grid-column: 2/3;
    grid-row: 1/4;
    justify-self: center;
    align-self: center;
}

.text3-l{
    grid-column: 3/4;
    grid-row: 1/4;
    justify-self: start;
    align-self: center;
}

.fa-regular{
    padding: 3px;
}

.suport-text{
    padding: 5px;
    transition: 0.3s;
}

.suport-text:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}

.sup1:hover .container-sup{
    visibility: visible;
    opacity: 1;
}

.sup2:hover .container-sup1{
    visibility: visible;
    opacity: 1;
}

.sup4:hover .container-sup2{
    visibility: visible;
    opacity: 1;
}

.sup-menu:hover{
    background-color: rgb(235, 235, 235) ;
    border-radius: 10px;
}

.link-abshari{
    display: block;
    transition: 0.3s;
    font-weight: lighter;
    font-size: 15px;
}

.abshari{
    padding: 2px;
}


.link-abshari:hover{
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
}

/* finish head */

/* background */

.main-work{
    grid-column: 1/8;
    grid-row: 2/10;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50vh repeat(8 , max-content);
}

.main-back-image{
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50vh;
    padding:0;

}

.back-image{
    grid-column: 1/6;
    grid-row: 1/1;
    background-image: url('./pic/back.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    border-top-left-radius: 50px ;
    border-bottom-left-radius: 50px;
}

.org-container{
    grid-row: 2/9;
    grid-column: 2/8;
    display: grid;
    grid-template-columns: repeat(10 , 1fr);
    grid-template-rows: repeat(10,max-content);
    
    position: relative;
    bottom: 75px;
    background-color: #fff;
    z-index: 100 ;
    width: 1100px;
    
}

.a-card{
    grid-row: 1/4;
    grid-column: 1/11;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,max-content);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 15px;
}

.products{
    grid-column:1/9 ;
    grid-row: 1/2;
}

.main-list{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(3,1fr);
}

.list-product{
    float: right;
    grid-row: 3/4 ;
    justify-self: center;
}

.icon-products{
    grid-row: 1/3;
    justify-self: center;
    font-size: 30px;
    margin-left: 3px;
}

.products-option{
    list-style-type: none;
}

.link-product{
    text-decoration: none;
    color: #000;
    font-family: 'Shabnam';
}

.linkp1{
    grid-column: 6/7;
}

.form-detail{
    grid-column: 1/10;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}

.form-contain{
    grid-column: 1/5;
    grid-row: 1/5;
    display: grid;
    grid-template-columns: repeat(4,fr);
    grid-template-rows: repeat(3,1fr);
}

.form-input{
    grid-column: 1/5;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);

}

.select-road{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    margin-top: 30px;
}

.enter-road{
    border: 1px solid rgb(235, 235, 235);
    width: 95px; height:33px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Shabnam';
    background-color: #fff;
    font-weight: 500;
    font-size: 15px;
    position: relative;
}

.opt-gr{
    margin-right: 3px;
}

.opt-list{
    list-style-type: none;
}

.opt-name{
    line-height: 30px;
    font-size: 15px;
    transition: 0.3s;
}

.opt1{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.opt2{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.options{
    position: absolute;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 15px;
    width: 125px; height: 65px;
    top: 33px;
    right: -15px;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0; 
    
}

.enter-road:focus .options{
    visibility: visible;
    opacity: 1;
}

.enter-road:hover{
    cursor: pointer;
}

.opt-name:hover{
    background-color:rgb(235, 235, 235); 
}












